/* 
    Other than lack of proper code style, very good job.
    I can understand everything that it suppose to do, even though I am not much versed in css!
*/
body{
    margin:0;
    padding-top: 50px;
    width:100vw;
    height: auto;
    background-color: aquamarine;

}
h1{
    text-align: center;
    color: rgb(69, 23, 112);
}

.box{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 30px;
    align-content:center;
    margin: auto;
    background-color: rgb(223, 243, 14);
    border-radius: 25px;
    background-image: linear-gradient(to top right, orange, yellow);
}
.button{
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: auto;
    text-align: center;
    margin: auto;
   

}
#counter{
    display: flex;
    align-items: center;
}
#reset, #plus, #minus{
    font-size: larger;
    background-color: burlywood;
    border-style: none;
    border-radius: 25px;
    margin: 0 5px 0 5px;
    
    
}